<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>老王</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>老王</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>我就是隔壁老王</string>
				<key>name</key>
				<string>baby</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的女神</string>
		<key>online</key>
		<integer>3</integer>
	</dict>

</array>
</plist>
